body {
  background: black;
  font-family: sans-serif;
  font-size: 0.9em;
  color: #555;
}

h4 {
  color: #ff3300;
  margin-top: 5px;
  margin-bottom: 5px;
}

#mainContent {
  margin: 20px auto;
  padding: 20px;
  background: #EEE;
  width: 900px;
  height: 1850px;
}

#showcaseContent {
  background: #333;
  width: 100%;
  position: absolute;
  top:0;
  bottom: 0;
}

#showcase {
  height: 900px;
}

#showcaseClose {
  color: red;
  font-size: 80%;
  float: right;
  padding: 5px;
  cursor: pointer;
}

.label {
  color: #009900;
}

.hiddenItem {
  display: none;
}

.showcaseItem {
  width: 250px;
  border: 1px dotted grey;
  padding: 10px;
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
  font-size: 80%;
  background: #CCC;
  color: black;
  height: 350px;
}

.showcaseItem p {
  line-height: 120%;
  overflow-y: auto;
  height: 130px;
}

.showcaseItem img {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  width: 240px;
  height: 150px;
  display: block;
}

.showcaseItem:hover {
  background: #FFF;
  border: 1px solid grey;
  cursor: pointer;
}

.itemDescription {
  border: 1px dashed grey;
  padding: 15px;
  color: white;
  margin: 15px auto;
  width: 550px;
}

.itemLabel {
  font-size: 120%;
  color: white;
  padding: 4px;
}

.itemImage {
  display: block;
  width: 685px;
  margin: 20px auto;
  text-align: center;
  cursor: pointer;
}

#itemShowcase {
  width: 800px;
  margin: auto;
  margin-top: 60px;
  background: black;
  z-index: 700;
  border: 1px solid #ccc;
  padding: 5px;
}

#item {
  display: none;
}

.itemContainer {
  width: 800px;
}

.footer {
  clear: both;
}

.count {
	float: right;
	font-size: 70%;
	color: #999;
}
